# Firebase Configuration (Sensitive)
android/app/google-services.json
lib/firebase_options.dart

# Private Environment Variables
.env
.env*

# IDE Settings
.vscode/
.idea/
*.iml

# Flutter/Dart Build & Cache
build/
.dart_tool/
.packages
.pub-cache/
.pub/